<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="http://www.michaelvillar.com/images/favicon.png">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>SARANSH MITTAL</title>
</head>
<body>
  <svg id="clip-paths" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g></g></svg>
  <div id="page">
    <header>
      <div id="header-content">
        <div id="header-logo">
          <svg id="logo" width="80" height="67" viewBox="0 0 160 134" xmlns="http://www.w3.org/2000/svg"><path d="M24.44 78.157L0 53.53 53.417 0l26.39 26.612L106.38 0l53.482 53.614L136.25 77.31l-29.312-29.2-26.46 26.946-26.548-26.58-29.49 29.68zm5.335 5.375l50.033 50.415 51.108-51.286-23.775-23.684-26.712 26.72-26.372-26.404-24.28 24.24z" fill="white" fill-rule="evenodd"/></svg>
        </div>
        <h1>Saransh Mittal</h1>
        <p>Developer</p>
        <div id="contact">
          <a href="https://twitter.com/saranshmittal98" id="twitter"><svg viewBox="0 0 42 36" xmlns="http://www.w3.org/2000/svg"><path d="M40.885 5.917a16.098 16.098 0 0 1-4.7 1.315 8.35 8.35 0 0 0 3.598-4.62 16.18 16.18 0 0 1-5.196 2.026A8.094 8.094 0 0 0 28.614 2c-4.52 0-8.183 3.74-8.183 8.353 0 .655.073 1.293.213 1.904-6.8-.348-12.83-3.674-16.866-8.728a8.447 8.447 0 0 0-1.108 4.2 8.397 8.397 0 0 0 3.64 6.952 8.024 8.024 0 0 1-3.707-1.045v.105c0 4.047 2.82 7.423 6.563 8.19a8.035 8.035 0 0 1-3.695.144c1.042 3.32 4.064 5.734 7.645 5.8A16.206 16.206 0 0 1 1 31.337a22.818 22.818 0 0 0 12.544 3.754c15.05 0 23.282-12.73 23.282-23.768 0-.362-.008-.723-.024-1.08a16.82 16.82 0 0 0 4.083-4.325z"/></svg></a>
          <a href="mailto:saranshmanu@yahoo.co.in" id="email"><svg viewBox="0 0 42 36" xmlns="http://www.w3.org/2000/svg"><path d="M3.025 5.255A1.99 1.99 0 0 1 4.003 5h33.994c.354 0 .688.093.977.256L21 18.5 3.025 5.255zm-1.002 1.45c-.015.098-.023.2-.023.302V18.28v-5.636 17.35C2 31.1 2.902 32 4.003 32h33.994A2.005 2.005 0 0 0 40 29.993v-17.35 5.638V7.008c0-.103-.008-.204-.023-.303L21 20.687 2.023 6.704z"/></svg></a>
        </div>
      </div>
    </header>
    <div id="content">
      <section id="articles">
        <h1>Hello, World! This is Saransh Mittal</h1>
        <ul>
          <li><a href="">Sometimes life is going to hit you in the head with a brick</a></li>
          <li><a href="">Don't lose faith</a></li>
        </ul>
        <a href="https://www.linkedin.com/in/saransh-mittal/" class="more">More on Linkedin<svg viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="arrow" d="M1.01362083,12.9421826 L1,15.6012598 L9.21426767,8.3533766 L1.07301897,1.34639246 L1.05985086,3.91708947 L6.21426767,8.3533766 L1.01362083,12.9421826 Z"></path></svg></a>
      </section>
      <section id="work">
        <h2>Achievements</h2>
        <ul>
          <li><a href="">Ranked 2nd position and awarded with best UI/UX designer award at Code2Create 2017 Hackathon organised by Association for Computing Machinery - VIT</a></li>
          <li><a href="">Secured Best Innovative Idea award at Codespace 2017 Hackathon organised by Computer Society of India</a></li>
          <li><a href="">Awarded with best UI/UX design award at Hello World 2017 Hackathon hosted by Skillenza</a></li>
          <li><a href="">Ranked amongst top 10 teams out of 300 to compete at UltraHack 2017 Sprint-I organised by Infoexpressions</a></li>
          <li><a href="">Successfully contributed to open source development during Hacktoberfest 2018 organised by GitHub along with Digital Ocean</a></li>
          <li><a href="">Secured Best Business Model award at Google Developer Group Devfest 2017</a></li>
          <li><a href="">Secured Google India Challenge Scholarship 2018</a></li>
          <li><a href="">Secured 1st position and Best UI/UX award at Code2Create 2018 Hackathon organised by ACM-VIT and IBM</a></li>
          <li><a href="">Secured 2nd position, Microsoft internship and 2nd best UI/UX design award at Devspace 2018 organized by CSI-VIT, Microsoft and Amazon</a></li>
          <li><a href="">2nd runner up at App-a-thon 2018 organised by Apple Developers Group - VIT</a></li>
          <li><a href="">Secured best pitch award during HackOverflow 2018 organised by CSED and Venturisity</a></li>
          <li><a href="">Secured a rank of 170 for creating a Machine Learning model to predict the earthquake damage vulnerability at a HackerEarth challenge</a></li>
        </ul>
      </section>
      <section id="experiments">
        <h2>Technologies familiar with ....</h2>
        <ul>
          <li><a href="">Data Science</a></li>
          <li><a href="">iOS Application Development</a></li>
          <li><a href="">Machine Learning</a></li>
          <li><a href="">Blockchain</a></li>
          <li><a href=""></a></li>
        </ul>
      </section>
      <section id="openSource">
          <h2>Projects</h2>
          <!--
          <ul>
            <li><a href="https://itunes.apple.com/us/app/space-apps-vellore-17/id1229258238?mt=8">NASA Space Apps Vellore Hachathon iOS app</a></li>
            <li><a href="https://itunes.apple.com/us/app/ieee-students-portal/id1213052615?mt=8&ign-mpt=uo%3D4">IEEE Student's Portal</a></li>
            <li><a href="">Toastmasters International mobile application</a></li>
            <li><a href="">Center for Social Entrepreneurship and Development chapter application</a></li>
            <li><a href="">IEEE Component Bank</a></li>
            <li><a href="">Orbis - Blockchain based health solution</a></li>
            <li><a href="">IEEE Madras Section Hub Congress - Official mobile application</a></li>
            <li><a href="https://github.com/saranshmanu/SkyPay">SkyPay - Pay smart (Blockchain based digital wallet)</a></li>
            <li><a href="">Health - Blockchain based solution</li>
          </ul> -->
          <a href="https://github.com/saranshmanu" class="more">More on GitHub<svg viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="arrow" d="M1.01362083,12.9421826 L1,15.6012598 L9.21426767,8.3533766 L1.07301897,1.34639246 L1.05985086,3.91708947 L6.21426767,8.3533766 L1.01362083,12.9421826 Z"></path></svg></a>
        </section>
    </div>
  </div>
  <svg id="page-stripes" class="full-size" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  </svg>
  <div id="intro" class="full-size">
    <div id="logo-container" class="full-size">
      <svg viewBox="0 0 640 536" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path transform="scale(4 4)" d="M24.44 78.157L0 53.53 53.417 0l26.39 26.612L106.38 0l53.482 53.614L136.25 77.31l-29.312-29.2-26.46 26.946-26.548-26.58-29.49 29.68zm5.335 5.375l50.033 50.415 51.108-51.286-23.775-23.684-26.712 26.72-26.372-26.404-24.28 24.24z" fill="#101214" fill-rule="evenodd"/></svg>
    </div>
    <svg id="stripes" class="full-size" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  </div>
  <script src="../static/js/dynamics.js"></script>
  <script src="../static/js/tinycolor.js"></script>
  <script src="../static/js/mv.es5.js"></script>
</body>
</html>
