<!DOCTYPE html>
<html lang="en">

<head>
    <title>Saransh Mittal - Developer and Venturer</title>
    <meta name="description" content="Facebook F8 Delegate | Microsoft Imagine Cup 2019 Asia Finalist | HackHarvard 2018 Finalist | Technical Mentor @IEEE-VIT | Technical Lead Microsoft Student Technical Community | The portfolio reflects about my passion for science and technology showcasing the achievements and projects I worked on as a part of my engineering in the field of Computer Science">
    <meta name="keywords" content="Saransh Mittal, saransh-mittal, saranshmanu, @saranshmanu, saranshmittal98, Vellore Institute of Technology, Vellore, VIT Vellore, IEEE Techloop Congress, IEEE, iOS Developer, Data Science, Deep Learning, NASA Space Apps Challenge, Microsoft Ignite 2019, Microsoft Imagine Cup 2019, HackHarvard 2018, Delhi, India, Code2Create, Devspace, Harvard University, Computer Science and Engineering, Computer Science, IEEE-VIT">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Saransh Mittal">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/images/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Saransh Mittal - Developer and Venturer">
    <meta property="og:description" content="The portfolio reflects about my passion for science and technology showcasing the achievements and projects I worked on as a part of my engineering in the field of Computer Science">
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/1104121406126612480/Gmv10iEr_400x400.jpg">
    <meta property="og:url" content="https://www.linkedin.com/in/saransh-mittal/">
    <meta property="og:site_name" content="Saransh Mittal - Developer and Venturer">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="The portfolio reflects about my passion for science and technology showcasing the achievements and projects I worked on as a part of my engineering in the field of Computer Science">
    <meta name="twitter:image:alt" content="The portfolio reflects about my passion for science and technology showcasing the achievements and projects I worked on as a part of my engineering in the field of Computer Science">
    <meta name="google-site-verification" content="NySwdofhzWIiAYB-Pi8QLmOyCQwvgGPNvHOq-JWN2Zw" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.timepicker.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134930310-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-134930310-1');
    </script>
    <style>
        img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
            border-radius: 10px;
            width: 100%; 
        }
    </style>
</head>

<body>
    <div class="KW_progressContainer">
        <div class="KW_progressBar">
        </div>
    </div>
    <div class="page">
        <nav id="colorlib-main-nav" role="navigation">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
            <div class="js-fullheight colorlib-table">
                <div class="img" style="background-image: url(../static/images/saransh_mittal.jpg);"></div>
                <div class="colorlib-table-cell js-fullheight">
                    <div class="row no-gutters">
                        <div class="col-md-12 text-center">
                            <h1 class="mb-4"><a href="#" class="logo">Saransh Mittal</a></h1>
                            <ul>
                                <li><a href="/"><span><small>01</small>Home</span></a></li>
                                <li class="active"><a href="/journey"><span><small>02</small>Journey</span></a></li>
                                <li><a href="/achievements"><span><small>03</small>Achievements</span></a></li>
                                <li><a href="https://medium.com/@saranshmanu"><span><small>04</small>Blog</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="colorlib-page">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="colorlib-navbar-brand">
                                <a class="colorlib-logo" href="#"><span class="logo-img" style="background-image: url(../static/images/profile.jpg);"></span>Saransh Mittal</a>
                            </div>
                            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="ftco-section about-section">
                <div class="container">
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-12">
                            <div class="exp mt-5 ftco-animate">
                                <h2 class="mb-4">Experience</h2>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/deloitte-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Business Technology Analyst <span> - Deloitte Consulting</span></h4>
                                                    <p style="color: white; font-size: 13px;">Working with the management consulting firm to develop a ERP system for the
                                                        Ford Motors Company to manage day-to-day business activities such as accounting, procurement, project management,
                                                        risk management and compliance, and supply chain operations. </p>
                                                    <p class="location">Bangalore, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Jul 20 - Present</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/s20-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Software Engineer <span> - S20.AI</span> </h4>
                                                    <p style="color: white; font-size: 13px;">Developed a early warning
                                                        and detection system as an initiative during the COVID-19
                                                        pandemic to monitor workplaces through IP cameras measuring physical
                                                        distancing followed by people and face mask detection to the establish
                                                        safety at the premise. Deployed the proof of concept at different Delhivery
                                                        warehouse locations with more than 100 monitoring cameras to ensure safety
                                                        compliances.</p>
                                                    <p style="color: white; font-size: 13px;">
                                                        Worked on a distributed Machine Learning technique called
                                                        Federated Learning developing framework for distributed file sharing using IPFS and
                                                        Searchable Encryption. Federated Learning is an approach which enables
                                                        modeling and training on the large corpus of decentralised data, decoupling
                                                        the need to do machine learning by storing the user data in the cloud with
                                                        the rise of many privacy regulations like GDPR.</p>
                                                    <p class="location">Bangalore, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Dec 19 - Jun 20</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/rivi-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Software Engineer <span> - Rivi</span> </h4>
                                                    <p style="color: white; font-size: 13px;">Worked on a travel ecommerce iOS
                                                        application called Rivi that helps to plan a user's trip based on the
                                                        personalized user experience by the Natural Language Conversations with the
                                                        Rivi chatbot.</p>
                                                    <p class="location">Bangalore, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Sep 19 - Nov 19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/drdo-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Machine Learning Engineer <span> - Defence Research and Development Organisation (DRDO)</span></h4>
                                                    <p style="color: white; font-size: 13px;">Worked with the Scientific Analysis
                                                        Group (SAG) to develop the Spoken Language Identification system using Deep
                                                        Learning to classify the various languages spoken by different ethnic groups
                                                        in India 🇮🇳 using Pytorch and Librosa</p>
                                                    <p class="location">Delhi, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>May 2019 - Jun 2019</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/vicara-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Software Developer <span> - Vicara</span> </h4>
                                                    <p style="color: white; font-size: 13px;">Worked on a VR controller device
                                                        called the Kai creating the SDK and the hardware firmware upgradation
                                                        software for iOS platform that simulates actions performed by the hand to
                                                        control the virtual environment. Helped the startup in raising $57,814
                                                        through a crowdfunding campaign on Indiegogo selling over a 1000 devices</p>
                                                    <p class="location">Bangalore, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Aug 18 - Feb 19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/win-kel-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>iOS Application Developer <span> - Win-Kel LLC</span> </h4>
                                                    <p style="color: white; font-size: 13px;">Worked on the e-commerce iOS mobile
                                                        application that aims to provide affordable rental storage solutions in
                                                        major cities across The United States of America and improved the user
                                                        experience by improving the user interface, fixing bugs and enhancing the
                                                        performance.</p>
                                                    <p class="location">Seattle, Washington, USA</p>
                                                </div>
                                                <div class="year">
                                                    <p>Jan 18 - Feb 18</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/ey-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Summer Research Intern <span> - Ernst and Young LLP</span> </h4>
                                                    <p style="color: white; font-size: 13px;">Researched on the Blockchain
                                                        technology and its impact on the Telecom Industry in the future by analyzing
                                                        future opportunities in the technology that could be generated and
                                                        prototyped a cryptocurrency wallet application based on the Blockchain test
                                                        network provided by BlockCypher API</p>
                                                    <p class="location">Gurgaon, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>May 17 - Jul 17</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="exp mt-5 ftco-animate">
                                <h2 class="mb-4">Education</h2>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/vit-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Bachelors of Technology<span> - Vellore Institute of Technology</span> </h4>
                                                    <h5><b>Computer Science and Engineering</b></h5>
                                                    <p style="color: white; font-size: 13px;">Computer Science and Engineering
                                                        student awarded with the Special Achiever's award by the University
                                                        Chancellor for exceptional performance at International and National
                                                        competitions like HackHarvard 2018, Facebook F8, Microsoft Ignite 2019 with
                                                        the recognition at the University Day 2019.</p>
                                                    <p style="color: white; font-size: 13px;">Represented India amongst the 12 teams
                                                        from 20 different countries across the Asia Pacific region at the
                                                        International edition of Microsoft Imagine Cup 2019 after successfully
                                                        winning amongst 28000 students across globe in Sydney, Australia 🇦🇺</p>
                                                    <p class="location">Vellore, Tamil Nadu, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>2016 - 2020</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img style=""
                                                    src="../static/images/organisations/dps-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>High School<span> - Delhi Public School Mathura Road</span> </h4>
                                                    <h5><b>Mathematics and Computer Science</b></h5>
                                                    <p style="color: white; font-size: 13px;">Being a member of the Environment
                                                        Council, organised various inter and intra school environment festivals to
                                                        spread the importance of the Indian culture/ heritage and awareness about
                                                        the various environmental phenomenons like climatic change and global
                                                        warming. Created documentary short films
                                                        related to climate change, animal cruelty and Indian culture for the
                                                        non-profit organisations like Indian National Trust for Art and Cultural
                                                        Heritage (INTACH)</p>
                                                    <p class="location">New Delhi, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>2002 - 2016</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="exp mt-5 ftco-animate">
                                <h2 class="mb-4">Organisations and Chapters</h2>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/ieee-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Technical Mentor<span> - Institute of Electrical and Electronics Engineers</span> </h4>
                                                    <h5><b>Computer Science and Engineering</b></h5>
                                                    <p style="color: white; font-size: 13px;">Mentored undergraduate students in the
                                                        field of Machine Learning by conducting workshops, sessions and hackathons
                                                        (Techloop+ sessions, NASA SpaceApps Challenge 2017, Machine Learning
                                                        workshop 2018 at the graVITas 2017 with 200 registered participants). Organized IEEE Techloop Conference in
                                                        partnership with the IEEE R10 organization with an agenda to discuss about
                                                        the Blockchain and recent advancements in the field of Artificial
                                                        Intelligence with delegates representing various IEEE sections across the
                                                        Indian subcontinent. Represented the university at the All India IEEE
                                                        Computer Society and Young Professionals Congress 2017</p>
                                                    <p style="color: white; font-size: 13px;">Led the team of application developers
                                                        to create several mobile applications for Android and iOS platforms like the
                                                        IEEE Students Portal, IEEE Component Bank, Evento and Space Apps Challenge
                                                        Vellore 2017. Developed a chatbot called Lexie based
                                                        on the Word2Vec skip gram model for an online cryptic hunt named Enigma
                                                        which had 900 participants from 10 countries.</p>
                                                    <p class="location">Vellore, Tamil Nadu, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Jan 17 - Nov 19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exp-wrap py-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img class="img"src="../static/images/organisations/mstc-logo.png" />
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="desc">
                                                    <h4>Technical Lead<span> - Microsoft Student Technical Community (MSTC)</span></h4>
                                                    <h5><b>Mathematics and Computer Science</b></h5>
                                                    <p style="color: white; font-size: 13px;">Conducted workshops on the various
                                                        topics of Data Science using Python to encourage undergraduate students to
                                                        develop an understanding about Machine Learning and Deep Learning.</p>
                                                    <p style="color: white; font-size: 13px;">Represented India at the Microsoft
                                                        Imagine Cup 2019 Asia Regional Finals in Sydney, Australia competing with
                                                        28000 students from 20 different countries. Invited by Microsoft at the
                                                        Microsoft Ignite 2019 - The Tour as a presenter at the International
                                                        Convention Centre to present the idea to IT Professionals and Developers
                                                        from around the globe.</p>
                                                    <p class="location">Vellore, Tamil Nadu, India</p>
                                                </div>
                                                <div class="year">
                                                    <p>Jan 18 - Sep 19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="ftco-footer ftco-bg-dark ftco-section">
                <div class="container">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-5 text-center">
                            <div class="ftco-footer-widget mb-5">
                                <ul class="ftco-footer-social list-unstyled">
                                    <li><a href="https://twitter.com/saranshmittal98"><span class="icon-twitter"></span></a></li>
                                    <li><a href="https://www.linkedin.com/in/saransh-mittal/"><span class="icon-linkedin"></span></a></li>
                                    <li><a href="https://www.facebook.com/saransh.mittal1998"><span class="icon-facebook"></span></a></li>
                                    <li><a href="https://github.com/saranshmanu"><span class="icon-github"></span></a></li>
                                    <li><a href="http://medium.com/@saranshmanu"><span class="icon-medium"></span></a></li>
                                    <li><a href="https://www.instagram.com/saranshmittal_98/"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                            <div class="ftco-footer-widget">
                                <h2 class="mb-3">Contact Me</h2>
                                <p class="h5 email"><a href="mailto:saranshmanu@yahoo.co.in">saranshmanu@yahoo.co.in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                        stroke="#F96D00" /></svg></div>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/scrollax.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.js"></script>
    <script src="../static/js/jquery.timepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="../static/js/google-map.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>